#tenantsList .active {
    background-color: #ccc;
    font-weight: bold;
}

.hide {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid #eeeeee;
    white-space: pre;
}

.error, .changedCell {
    color: red;
}

.newRows {
    background-color: gold !important;
}

.loginAvatar {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.loginName {
    font-size: 12px;
}

#loginDiv {
    position: absolute;
    right: 3px;
    top: 3px;
}